@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,500,600,700&display=swap');
body { font-family: 'Poppins', sans-serif; }
h1, h2, h3, h4, h5, h6 { color: #424242; }
p { color: #575757; font-weight: 300; font-size: 17px; line-height: 29px; }
li { color: #575757; }

html {
    scroll-behavior: smooth;
}

/* navbar */
.bg-light {
    background: none !important;
    margin: 10px 0px;
}
.bg-light .navbar-nav .nav-link {
    padding: 23px 22px;
    color: #595959;
    text-transform: capitalize;
    font-weight: 600;
}
.bg-light .navbar-nav .nav-link:hover {
    color: #1f9725;
    font-weight: 600;
}
.bg-light .navbar-nav .active .nav-link {
    color: #1f9725;
    font-weight: 600;
}
.navbar-brand img {
    width: 170px;
}
/* //navbar */


/* home banner */
.home-banner .carousel-caption{
    position: absolute;
    left: 60%;
    right: 0;
    top: 32%;
}
.home-banner .carousel-caption h1 {
    color: #fff;
    font-weight: 600;
}
/* //home banner */

/* quick-intro */
.quick-intro h1 {
    font-size: 28px;
}
.quick-intro p {
    text-align: justify;
}
/* //quick-intro */

/* common errors */
.common-errors h3 {
    font-size: 28px;
}
.common-errors ul li {
    margin-bottom: 10px;
}
/* //common errors */

/* have a look */
.have-look h2 {
    font-size: 28px;
    line-height: 38px;
}
.have-look p {
    text-align: justify;
}
/* //have a look */

/* added-advantage */
.added-advantage h3 {
    font-size: 28px;
    line-height: 38px;
}
.added-advantage ul li {
    display: inline-block;
}
.added-advantage .btn-info {
    margin: 5px;
    border-radius: 100px;
    margin-top: 12px;
    padding: 10px 15px;
    background-color: #cacaca;
    color: #3a3a3a;
    border-color: #cacaca;
}
.added-advantage p {
    text-align: justify;
}
/* //added-advantage */

/* features */
.features h3 {
    font-size: 28px;
}
.features ul li {
    margin-bottom: 10px;
    font-size: 17px;
}
.features p {
    text-align: justify;
}
/* //features */

/* unlimited-support */
.unlimited-support h3 {
    font-size: 28px;
    line-height: 39px;
}
.unlimited-support p {
    text-align: justify;
}
/* //unlimited-support */

/* best-qb-support */
.best-qb-support h3 {
    font-size: 28px;
    line-height: 39px;
}
.best-qb-support p {
    text-align: justify;
}
/* //best-qb-support */

/* how-qb-works */
.how-qb-works h3 {
    font-size: 28px;
}
.how-qb-works h4 {
    font-size: 20px;
}
.how-qb-works p {
    text-align: justify;
}
/* //how-qb-works */

/* FAQ's */
.faq h3 {
    font-size: 28px;
    line-height: 39px;
}
.faq h4 {
    font-size: 19px;
}
.faq ol li {
    margin-bottom: 10px;
    font-size: 17px;
}
.faq strong {
    color: #9a0505;
    font-weight: 600;
}
/* //FAQ's */

/* how-to-contact */
.how-to-contact h3 {
    font-size: 28px;
    line-height: 39px;
}
.how-to-contact h4 {
    font-size: 19px;
}
.how-to-contact p {
    text-align: justify;
}
/* //how-to-contact */

/* how-to-connect */
.how-to-connect h3 {
    font-size: 28px;
    line-height: 39px;
}
.how-to-connect p {
    text-align: justify;
}
/* //how-to-connect */

/* why-you-need */
.why-you-need h3 {
    font-size: 28px;
    line-height: 39px;
}
.why-you-need p {
    text-align: justify;
}
/* //why-you-need */

/* .disclaimer */
.disclaimer h5 {
    font-size: 28px;
}
.disclaimer p {
    text-align: justify;
}
/* //disclaimer */


/* qb-features */
.qb-features [aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.qb-features p {
    line-height: 31px;
    font-size: 17px;
}
.qb-features-text {
    text-align: center;
}
.qb-features-text h4 {
    font-size: 19px;
    line-height: 29px;
}
.qb-features-text p {
    font-size: 17px;
}
.qb-features-text img {
    width: 100px;
}
.qb-features-text .btn-primary {
    background: none;
    border: 1px solid #fff;
    color: #575757;
    font-size: 17px;
    font-weight: 700;
}
/* //qb-features */


/* qb customer */
.qb-customer p {
    line-height: 31px;
}
/* //qb customer */

/* qb contact */
.qb-contact p {
    line-height: 31px;
}
/* //qb contact */

footer {
    background-color: #2b2b2b;
    text-align: center;
}
footer ul li {
    display: inline-block;
    margin: 0px 12px;
    color: #fff;
}
footer ul li a {
    color: #fff;
}
footer p {
    color: white;
}


/* contact page */
.contact-text {
    padding-left: 20px;
}
.contact-text h2 {
    font-size: 32px;
    text-transform: capitalize;
    line-height: 44px;
}
.contact-text ul li {
    color: #575757;
    list-style: none;
    line-height: 32px;
}
.contact-text ul li a {
    color: #575757;
}
.contact-text .fa-envelope, .fa-phone {
    padding-right: 10px;
}
.contact-form .btn-primary {
    background: #1f9725;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 12px 23px;
    margin: 20px 0px;
}
label {
    color: #6c6c6c;
}

.contact-page .carousel-caption {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 45%;
    text-align: center;
}
.contact-page .carousel-caption h1 {
    font-size: 34px;
    color: #fff;
    font-weight: 700;
}
/* end of contact page */












